<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="styles/reviews.css">
    
    <header>
        <div class="logo">
            <a href="productPage" class="icon-link">
                <img src="assets/tinyDog.png">
            </a>
        </div>
        <div class="center-search">
            <form action="/search" method="get" class="search-form">
                <input type="text" name="q" placeholder="Search..." class="search-input">
                <button type="submit" class="search-button">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <div class="right-icons">
            <a href="shoppingCart" class="icon-link">
                <i class="fas fa-shopping-cart fa-2x"></i>
            </a>
            <a href="login" class="icon-link">
                <i class="fas fa-user fa-2x"></i>
            </a>
        </div>
    </header>
    
    <nav>
        <form action="/FOOD" method="post">
            <button class="nav-button" name="FOOD">FOOD</button>
        </form>
        <form action="/TOYS" method="post">
            <button class="nav-button" name="TOYS">TOYS</button>
        </form>
        <form action="/ACCESSORIES" method="post">
            <button class="nav-button" name="ACCESSORIES">ACCESSORIES</button>
        </form>
        <form action="/HEALTH" method="post">
            <button class="nav-button" name="HEALTH">HEALTH</button>
        </form>
        <form action="/DOGS" method="post">
            <button class="nav-button" name="DOGS">DOGS</button>
        </form>
        <form action="/CATS" method="post">
            <button class="nav-button" name="CATS">CATS</button>
        </form>
        <form action="/FISH" method="post">
            <button class="nav-button" name="FISH">FISH</button>
        </form>
        <form action="/ALL" method="post">
            <button class="nav-button" name="ALL">ALL PETS</button>
        </form>
    </nav>
    <body>
        <div class="review-list">
            <h2>Reviews</h2>
            <% reviews.forEach(function(review) { %>

                    <!-- <p><%= review.ReviewText %></p> -->
                    <!-- <fieldset> -->
                  
                    <!-- <p>User <%= review.Custusername %> says: </p>
                    <p><%= review.ReviewText %></p>
                    <p><%= review.Rating %> Stars</p>

                    <p>Date: <%= review.ReviewDate.toDateString() %></p> -->
                <fieldset>
                    <p>User <%= review.Custusername %> says: </p>
                    <p><%= review.ReviewText %></p>
                    <div class="star-rating">
                        <% for (let i = 0; i < review.Rating; i++) { %>
                            <i class="fas fa-star"></i>
                        <% } %>
                    </div>
                    <p>Date: <%= review.ReviewDate.toDateString() %></p>
                </fieldset>

            <% }); %>

        </div>
    </body>
</html>